<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h1>Macros Cheat Sheet</h1>

<div class="vertical-menu">
  <a href="#" class="active">Protein</a>
  <a href="https://www.nationalchickencouncil.org/chicken-the-preferred-protein-for-your-health-and-budget/the-nutritional-value-of-chicken/">Chicken Breast</a>
  <a href="https://www.eggnutritioncenter.org/topics/nutrients-in-eggs/">Eggs</a>
  <a href="https://www.glycemic-index.org/salmon-nutrition-facts.html">Salmon</a>
  <a href="https://world.openfoodfacts.org/product/0079893710099/greek-strained-nonfat-yogurt">Non-Fat Greek Yogurt</a>
</div>

<div class="vertical-menu">
  <a href="#" class="active">Carbs</a>
  <a href="https://www.fatsecret.com/calories-nutrition/whole-foods-market/100%25-whole-wheat-bread#:~:text=There%20are%2090%20calories%20in%20a%201%20slice,Foods%20Market%3A%20Organic%20100%25%20Whole%20Wheat%20Sandwich%20Bread">Whole Wheat Bread</a>
  <a href="https://www.livescience.com/50461-brown-rice-health-benefits-nutrition-facts.html">Brown Rice</a>
  <a href="https://www.healthline.com/nutrition/foods/oats#nutrients">Oatmeal</a>
  <a href="https://www.healthline.com/nutrition/foods/sweet-potatoes">Sweet Potato</a>
</div>

<div class="vertical-menu">
  <a href="#" class="active">Fats</a>
  <a href="#">Avacado</a>
  <a href="#">Peanut Butter</a>
  <a href="#">Extra Virgin Olive Oil</a>
  <a href="#">Nuts</a>
</div>

</body>
</html>

