<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">

<h1>Macros Cheat Sheet</h1>

<div class="vertical-menu">
  <a href="#" class="active">Protein</a>
  <a href="https://www.nationalchickencouncil.org/chicken-the-preferred-protein-for-your-health-and-budget/the-nutritional-value-of-chicken/" target="_blank">Chicken Breast</a>
  <a href="https://www.eggnutritioncenter.org/topics/nutrients-in-eggs/" target="_blank">Eggs</a>
  <a href="https://www.glycemic-index.org/salmon-nutrition-facts.html" target="_blank">Salmon</a>
  <a href="https://world.openfoodfacts.org/product/0079893710099/greek-strained-nonfat-yogurt" target="_blank">Non-Fat Greek Yogurt</a>
</div>

<div class="vertical-menu">
  <a href="#" class="active">Carbs</a>
  <a href="https://www.fatsecret.com/calories-nutrition/whole-foods-market/100%25-whole-wheat-bread#:~:text=There%20are%2090%20calories%20in%20a%201%20slice,Foods%20Market%3A%20Organic%20100%25%20Whole%20Wheat%20Sandwich%20Bread" target="_blank">Whole Wheat Bread</a>
  <a href="https://www.livescience.com/50461-brown-rice-health-benefits-nutrition-facts.html" target="_blank">Brown Rice</a>
  <a href="https://www.healthline.com/nutrition/foods/oats#nutrients" target="_blank">Oatmeal</a>
  <a href="https://www.healthline.com/nutrition/foods/sweet-potatoes" target="_blank">Sweet Potato</a>
</div>

<div class="vertical-menu">
  <a href="#" class="active">Fats</a>
  <a href="https://www.fatsecret.com/calories-nutrition/usda/avocados" target="_blank">Avacado</a>
  <a href="https://www.eatthismuch.com/food/nutrition/peanut-butter,435366/" target="_blank">Peanut Butter</a>
  <a href="https://www.fatsecret.com/calories-nutrition/generic/extra-virgin-olive-oil#:~:text=Nutrition%20summary%3A%20There%20are%20119%20calories%20in%201,Calorie%20breakdown%3A%20100%25%20fat%2C%200%25%20carbs%2C%200%25%20protein." target="_blank">Extra Virgin Olive Oil</a>
  <a href="https://www.nutrition-and-you.com/nuts_nutrition.html" target="_blank">Nuts</a>
</div>
</div>
</body>
</html>

