<nav class="navbar navbar-default background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand background">Find your Protein!!!</a>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Join US!</a></li>
        <li><a routerLink="/search-protein">P-R-O-T-E-I-N</a></li>
        <li><a routerLink="/Macros">Macros</a></li>
        <li><a routerLink="/cheatsheet">Cheat Sheet</a></li>
      </ul>

    </div>
  </div>
</nav>
